<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add New Developer Skills</h1>
    <form action="/skills" method="POST" autocomplete="off">
      <label> Add new skill</label>
      <input type="text" name="skill" />
      <label> Add skill grade</label>
      <input type="text" name="grade" />
      <input type="submit" />
    </form>
  </body>
</html>
